[user]
       name = Sam
       email = sam.auciello@givelively.org
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = emacs
[merge]
	tool = vimdiff
[alias]
	# read
	st = status --untracked-files=all
	lg = log --color --pretty=format:'%C(bold blue)%an%Creset%C(cyan)(%cr)%Creset: %Cred<%h>%Creset%C(yellow)%d%Creset\n  %C(green)%s\n  %b' --abbrev-commit -n 12
	lr = log --color --pretty=format:'%C(bold blue)%an%Creset%C(cyan)(%cr)%Creset: %Cred<%h>%Creset%C(yellow)%d%Creset\n  %C(green)%s\n  %b' --abbrev-commit main..HEAD
	l = "!if [ `git rev-parse --abbrev-ref HEAD` = 'main' ]; then git lg; else git lr; fi"
	ref = reflog --color --pretty=format:'%C(bold blue)%an%Creset%C(cyan)(%cr)%Creset: %Cred<%h>%Creset%C(yellow)%d%Creset\n  %C(green)%s\n  %b' --abbrev-commit -n 12
	tree = log --graph

	# stage
	a = add -v
	all = add . -v --all
	rh = reset HEAD
	rall = reset HEAD .
	rd = rm -r

	# commit
	ci = commit
	ca = "!git add . -v ; git commit"
	cam = "!git add . -v ; git commit -m"
	amend = commit --amend
	also = "!git add . -v ; git commit --amend -C HEAD"

	# tree
	co = checkout
	back = checkout -
	b = branch

	# merge
	pmm = "!git checkout main && git pull && git checkout - && git merge main" # pull merge main

	# remotes
	pu = "!git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`"
	forcepull = "!git fetch ; git reset --hard @{u}"
